:root {
    /* __ TYPO __ */

/* Font Size (px) */
--fs-12: 0.75rem;
--fs-14: 0.85rem;
--fs-16: 1rem;
--fs-18: 1.125rem;
--fs-21: 1.4rem;
--fs-33: 2.063rem;


/* Font Weight */
--fw-3: 300;
--fw-4: 400;
--fw-5: 500;

/* Letter Spacing - number refers to figma % */
--ls-4: 0.05em; 

    /* __ COLOURS __ */

/* Font Color/ BackGround/ Main / Color main+accent / BoXshadow */
--fc: #191718;
--fc-faded: #19171899;

--clr-main: #E0E5E9;
--clr-blue: #0A62D0;
--clr-lightblue: #589ff5;
--clr-lightblue-opac-80: #569ef5cd;
--clr-yellow: #F6A731;
--clr-error: rgba(232, 105, 105, 0.979);

--bg-transparent: rgba(224, 229, 233, 0.60);
--bg-gradient: linear-gradient(129deg, rgba(228,237,245,1) 0%, rgba(190,210,222,1) 100%);

/* --shadow-btn-hover: -2px 2px 0px 1px rgba(10, 98, 208, 0.85); */
--shadow-btn: -2px 2px 0px 1px rgba(10, 98, 208, 0.75);
--shadow-input: -3px 4px 0px 1px rgba(246, 167, 49, 0.84);
--shadow-error: -3px 4px 0px 1px #E86969;
--shadow-form: 0px 0px 4px 1px rgba(25, 23, 24, 0.05);
--shadow-txt: 0px 0px 1px rgba(25, 23, 24, 0.1);



    /* __ SIZES __ */

--navbar-height: 135px;
--footer-height: 250px;
--page-height-noscroll: calc(100vh - var(--navbar-height) - var(--footer-height));

}


@media (max-width: 1000px){
    :root {
        /* --fs-16: 0.875rem;
        --fs-21: 1.125rem;
        --fs-33: 1.313rem; */
    }
}

